In [ ]:
input_string = input("Enter the string 'Python': ")
char_list = list(input_string)
if len(char_list) >= 2:
del char_list[0]
del char_list[0]
reversed_list = char_list[::-1]
result_string = ''.join(reversed_list)
print("Reversed string after deletion:", result_string)

Enter the string 'Python': akshay
Reversed string after deletion: yahs

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
sum_result = num1 + num2
difference_result = num1 - num2
product_result = num1 * num2
if num2 != 0:
quotient_result = num1 / num2
else:
quotient_result = "undefined (division by zero)"
print(f"Sum: {num1} + {num2} = {sum_result}")
print(f"Difference: {num1} - {num2} = {difference_result}")
print(f"Product: {num1} * {num2} = {product_result}")
print(f"Quotient: {num1} / {num2} = {quotient_result}")

Enter the first number: 6
Enter the second number: 5
Sum: 6.0 + 5.0 = 11.0
Difference: 6.0 - 5.0 = 1.0
Product: 6.0 * 5.0 = 30.0
Quotient: 6.0 / 5.0 = 1.2

In [ ]:
sentence = input("Enter a sentence: ")
modified_sentence = sentence.replace('python', 'pythons')
print("Modified sentence:", modified_sentence)

Enter a sentence: i love python
Modified sentence: i love pythons

In [ ]:
score = float(input("Enter the class score (0-100): "))
if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
elif 0 <= score < 60:
    grade = 'F'
else:
    grade = 'Invalid score'
print("The letter grade is:", grade)

Enter the class score (0-100): 45
The letter grade is: F

In [ ]:
example_list = [123, "hello", 45.67, True, None, [1, 2, 3], {'key': 'value'}, (1, 2)]
type_list = []
for element in example_list:
type_list.append(type(element))
print("Original list:", example_list)
print("Types of elements:", type_list)

Original list: [123, 'hello', 45.67, True, None, [1, 2, 3], {'key': 'value'}, (1, 2)]
Types of elements: [<class 'int'>, <class 'str'>, <class 'float'>, <class 'bool'>, <class 'NoneType'>, <class 'list'>, <class 'dict'>, <class 'tuple'>]

In [ ]:
T_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
length_T_companies = len(T_companies)
print("Length of T_companies:", length_T_companies)
T_companies.add('Twitter')
print("T_companies after adding 'Twitter':", T_companies)
additional_companies = {'Netflix', 'Snapchat'}
T_companies.update(additional_companies)
print("T_companies after adding multiple companies:", T_companies)
T_companies.discard('Snapchat')  # or T_companies.remove('Snapchat')
print("T_companies after removing 'Snapchat':", T_companies)
union_AB = A.union(B)
print("Union of A and B:", union_AB)
intersection_AB = A.intersection(B)
print("Intersection of A and B:", intersection_AB)
is_subset = A.issubset(B)
print("Is A a subset of B?", is_subset)
are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets?", are_disjoint)
A.update(B)
B.update(A)
print("A after joining with B:", A)
print("B after joining with A:", B)
symmetric_difference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference)
del T_companies
del A
del B
age_set = set(age)
length_age_list = len(age)
length_age_set = len(age_set)
print("Length of age list:", length_age_list)
print("Length of age set:", length_age_set)

Length of T_companies: 7
T_companies after adding 'Twitter': {'Microsoft', 'Apple', 'Twitter', 'Amazon', 'Google', 'IBM', 'Facebook', 'Oracle'}
T_companies after adding multiple companies: {'Apple', 'Twitter', 'Google', 'Netflix', 'Oracle', 'Facebook', 'Snapchat', 'Amazon', 'IBM', 'Microsoft'}
T_companies after removing 'Snapchat': {'Apple', 'Twitter', 'Google', 'Netflix', 'Oracle', 'Facebook', 'Amazon', 'IBM', 'Microsoft'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A a subset of B? True
Are A and B disjoint sets? False
A after joining with B: {19, 20, 22, 24, 25, 26, 27, 28}
B after joining with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: set()
Length of age list: 8
Length of age set: 5